<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário de Cadastro </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap' rel='stylesheet'>
        <link rel="stylesheet" href="/css/solicitado.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon_io/site.webmanifest">
        <title>Cadastro Concluído</title>
    </head>
    <body>
        <header>
            <div class="texto">
                <h1>Cadastro Completo</h1>
                <h2>Aguarde 3 dias úteis</h2>
            </div>
        </header>
        <div class="container">
            <img id="imagemResponsiva" src="/assets/capivarafalandodocadastro.png" alt="Capivara dizendo que o cadastro foi completo e que um e-mail será enviado.">
        </div>
        <script src="./js/solicitado.js"></script>
    </body>
</html>